<div class="app">
    <h1>Listado de Peliculas</h1>
    <div class="search">
        <input type="text" #movieSearchInput placeholder="Buscar pelicula">
        
    </div>
    <div *ngIf="(movies$ | async) as movies; else empty" class="container">
        <app-card-movie *ngFor="let movie of movies" [movie]="movie"></app-card-movie>
    </div>
    <ng-template #empty class="empty">
        <h3>No se encontraron Peliculas</h3>
        <img class="withoutResult"  src="../../../assets/sinResultado.png" alt="Sin resultados">
    </ng-template>
</div>